# Copyright (c) 2023 Demant A/S
# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

mainmenu "Bluetooth: Broadcast Audio Source"

choice BASE_CONFIGURATION
	prompt "The BASE configuration to be used"
	default BASE_CONFIG_24S_16S

config BASE_CONFIG_24S_16S
	bool "24 KHz stereo and 16 KHz stereo"
	help
	  Using the BASE_CONFIG_24S_16S configuration.

config BASE_CONFIG_48S_24S
	bool "48 KHz stereo and 24 KHz stereo"
	help
	  Using the BASE_CONFIG_48S_24S configuration.

config BASE_CONFIG_5_16M
	bool "5 subgroups with 16 KHz mono"
	help
	  Using the BASE_CONFIG_5_16M configuration.

config BASE_CONFIG_1_16FL
	bool "1 subgroups with 16 KHz Front Left"
	help
	  Using the BASE_CONFIG_1_16FL configuration.

endchoice

config BROADCAST_CODE
	string "The broadcast code (if any) to use for encrypted broadcast"
	default ""
	help
	   Setting a non-empty string for this option will encrypt the broadcast using this
	   string as the broadcast code. The length of the string shall be between 1 and 16 octets.

source "Kconfig.zephyr"
